*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared style */
.btn{
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
    background-color: #469165;
}
.hero-btn{
    display: flex;
    gap: 16px;
}
.btn--hero{
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn--hero2{
    border: 1px solid white;
    background-color: transparent;
}


/* main style */

/* header start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

nav .logo{
    max-width: 139px;
    width: 100px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

nav ul li a{
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    color: black;
    text-decoration: none;
}
/* header end */

/* hero start */
.hero{
    background-image: url("./images/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.earlyaccess{
    background-color: white;
    padding: 8px 12px;
    border-radius: 1000px;
    margin-bottom: 16px;
}

.earlyaccess h5{
    font-size: 16px;
    font-weight: 5400;
    color: #469165;
    display: flex;
    gap: 6px;
}

.hero h1{
    font-size: 72px;
    line-height: 84px;
    color: white;
    margin-bottom: 16px;
    text-align: center;
    text-transform: capitalize;
}


.hero p{
    font-size: 18px;
    line-height: 24px;
    color: white;
    margin-bottom: 32px;
    text-align: center;
}
/* hero end */

/* note section start */
.note{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.note-heading h2{
    margin-top: 36px;
    margin-bottom: 16px;
    font-size: 48px;
    color: #001931;
}

.note-heading p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}

.note-card{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1360px;
    gap: 24px;
}

.card-info{
    max-width: 322px;
    padding: 69.5px 24px;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 #00000059;

}

.card-info img{
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    padding: 14px;
    margin-bottom: 16px;
}

.card-info h4{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.card-info p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    max-width: 274px;
}

/* note section end */

/* solution section start */
.solution{
    padding: 120px;
    
}

.solution-container{
    display: flex;
    align-items: center;
    max-width: 1360px;
    margin: 0 auto;
    gap: 60px;
}

.solution-container img{
    max-width: 600px;
}

.solution-text{
    max-width: 700px;
}

.solution-text h5{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #469165;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.solution-text h2{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.solution-text p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.solution-text ul{
    list-style: none;
}

.solution-text ul li{
    display: flex;
    gap: 10px;
    margin-bottom: 16px;
}