*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared style */
.btn{
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
    background-color: #469165;
}

/* main style */

/* header start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

nav .logo{
    max-width: 139px;
    width: 100px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

nav ul li a{
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    color: black;
    text-decoration: none;
}
/* header end */

